<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<%= render '/head.*' %>
</head>
<body>
  <%= render '/gtm.*' %>
  <%= render '/header.*' %>
  <div id="js-banner"></div>
  <div class="gl-docs wrapper d-flex justify-content-center pt-5 mt-5">
    <div class="doc-nav"></div>
    <div class="main class pl-lg-4 js-main-wrapper">
      <div class="js-article-content">
        <%= yield %>
      </div>
      <% if @item[:last_updated] %>
        <hr>
        <p class="last-updated" style="padding-bottom: 24px;">
          <em>Last updated <%= @item[:last_updated] %></em>
        </p>
      <% end %>
      <%= render '/footer.*' %>
    </div>
    <div class="doc-nav"></div>
  </div>
  <script src="<%= @items['/frontend/shared/global_imports.*'].path %>"></script>
  <script src="<%= @items['/frontend/search/docsearch.*'].path %>"></script>
  <script src="<%= @items['/frontend/header/index.*'].path %>"></script>
  <script src="<%= @items['/frontend/shared/clipboardjs.*'].path %>"></script>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
  <% if production? %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  <%= render '/schema-microdata.*' %>
</body>
</html>
